.RestaurantCard div {
    width: 100%;
    margin: auto;
    text-align: center;
}

#display {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 39%;
}

#search {
    padding-top: 20px;
}

#name {
    font-size: 30px;
}

